@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    color: rgb(224, 222, 220);
    font-family: sans-serif;
    background-color: #0f0f0f;
}

h1, h2{
    font-weight: 800;
    color: rgb(145, 89, 4)
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
    background: #0f0f0f;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
    animation: surgir 3s ease-out;
    animation-timeline: view();
    animation-range: cover 0 cover 50%;
}

section.modulo p{
    margin-bottom: 40px;
    text-align: justify;
    font-size: 1.4em;
}

section.modulo h2{
    margin-bottom: 40px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
}

section.modulo.content {
    padding: 40px 0;
   background: #000000;
}

section.modulo.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section.modulo.parallax h1{
    color: #ffffff;
    text-shadow: 5px 5px 5px black;
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    z-index: 50;
}

section.modulo.parallax:after {
 content: "";
 height: 100%;
 width: 100%;
 position: absolute;
 z-index: 10;
 background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%  );

}



section.modulo.parallax-1{
    background-image: url(https://img.quizur.com/f/img606929079a2d56.77111517.jpg?lastEdited=1617504524);
}
section.modulo.parallax-2{
    background-image: url(https://tasselo.com.br/storage/posts/desktop/crop/4-padarias-e-cafeterias-com-moveis-tasselo-para-voce-se-inspirar-1635972254.jpeg);
}
section.modulo.parallax-3{
    background-image: url(https://1.bp.blogspot.com/-zjs8HnJfGaE/Xou6Vzt5_7I/AAAAAAABwx0/NfEnFqWK7e0T-vn5ke_q9oUduMGO35u5QCLcBGAsYHQ/s1600/star%2Breserve%2B1.jpg);
}


@keyframes surgir {
    from{
       opacity: 0;
       translate: -100vw 0;
    }

    to{
        opacity: 1;
        translate: 0 0 ;
    }
}

 @media all and (max-width: 760px){

    section.modulo p{
        margin-bottom: 10px;
        text-align: center;
        font-size: 1em;
    }

    section.modulo.parallax h1{
        font-size: 1.5em;
    }

    section.modulo.content{
        width: 90%;
       background-color: #0f0f0f; 
    }
}